<div class="todo-list-wrapper">
  <mat-card *ngFor="let todoItem of todoList; let i = index">

    <mat-checkbox #done (change)="todoDone(i, done.checked)" 
      [checked]="todoItem.done"
      color="primary">  
    </mat-checkbox>
    
    <ng-container *ngIf="i !== currentEditable; else editItem">
      <span class="content" [class.done]="todoItem.done">{{todoItem.name}}</span>
      <mat-icon (click)="onEditItem(i, todoItem)">
        edit
      </mat-icon>
    </ng-container>
  
    <ng-template #editItem> 
      <mat-form-field class="content">
        <input matInput [(ngModel)]="editedItem.name" type="text">
      </mat-form-field>
      <mat-icon (click)="onSaveChanges(i)">check</mat-icon>
    </ng-template>
    <mat-icon class="delete-icon" (click)="onDeleteItem(i)">delete</mat-icon>
  </mat-card>
</div>
