mat-card{
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
}
mat-checkbox{
  width: 2%;
  margin-right: 1%;
}

.content{
  width: 95%;
}

mat-card:hover{
  background-color: #e2e3e9bb;
  cursor: pointer;
}

mat-icon{
  color: #3f51b5;
}

mat-icon:hover{
  color: #193e7a;
}

.done{
  text-decoration: line-through;
}
