<div class="form-wrapper">
  <mat-form-field>
    <input matInput #toDoItem type="text" placeholder="Enter the task">
    <mat-hint>at least 4 characters</mat-hint>
  </mat-form-field>
  
  <button mat-stroked-button color="primary" (click)="onAddToDo(toDoItem.value); toDoItem.value = ''">Add task</button>  
</div>
